html {
    font-size: 14px;
  }
  @media (min-width: 768px) {
    html {
      font-size: 16px;
    }
  }
  
  .container {
    max-width: 960px;
  }
  
  .pricing-header {
    max-width: 700px;
  }
  
  .card-deck .card {
    min-width: 220px;
  }
  
  .border-top { border-top: 1px solid #e5e5e5; }
  .border-bottom { border-bottom: 1px solid #e5e5e5; }
  
  .box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  
  body {
    font-family: Arial, sans-serif;
    text-align: center;
  }
  
  .plan-container {
    margin: 50px auto;
    max-width: 400px;
  }
  
  .slider-container {
    width: 100%;
  }
  
  .plan-highlighter {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .plan {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f0f0f0;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .plan:hover {
    background-color: #ddd;
  }
  
  .plan.active {
    background-color: #007bff;
    color: #fff;
  }
  